@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

body {
    margin: 50px 0 0 0;
    font-family: 'Abel', sans-serif;
}


.wrapper {
    width: 1200px;
    height: 750px;
    margin: 0 auto 0 auto;
    background-image: url(images/coco.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* div met de classnaam inhoud */
.inhoud {
    padding-left: 600px;
    padding-right: 50px;
}

/* logo - alle afbeeldingen in de div met de classnaam inhoud */
.inhoud img {
    width: 300px;
    margin-left: 1px;
    margin-top: 80px;
    margin-bottom: 30px;
}

/* alle h1's in de div met de classnaam inhoud */
.inhoud h1 {
    color: #FFF;
    font-weight: normal;
}

/* alle p's in de div met de classnaam inhoud */
.inhoud p {
    color: #FFF;
}

/* knop */
.inhoud a {
    position: relative;
    float: left;
    background-color: #f38030;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

/* hover effect wanneer er met de muis over de knop wordt gegaan */
.inhoud a:hover {
    background-color: #FFF;
    color: #f38030;
}